name: Metrics
on:
  schedule: [{cron: "* * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: General
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@master
        with:
          filename: general-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          # Template
          user: ashl3ycodes
          template: classic
          base: header, activity, community, repositories
          config_order: base.header, base.activity+community, base.repositories, gists, activity, languages
          config_padding: 0, 165
          config_timezone: America/Mexico_City
          # Languages Plugin
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_other: true
          plugin_languages_sections: most-used
          plugin_languages_details: lines, bytes-size
          plugin_languages_indepth: true
          plugin_languages_categories: data, markup, programming
          plugin_languages_recent_categories: data, markup, programming
          plugin_languages_recent_days: 7
          # Recent Activity Plugin
          plugin_activity: yes
          plugin_activity_days: 7
          plugin_activity_filter: all
          plugin_activity_limit: 3
          plugin_activity_load: 300
          plugin_activity_visibility: all
          # Gists Plugin
          plugin_gists: yes

      - name: Social
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@master
        with:
          filename: social-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          # Template
          user: ashl3ycodes
          template: classic
          base: ""
          config_order: achievements, people, wakatime, isocalendar
          config_padding: 0, 110
          config_timezone: America/Mexico_City
          # Achievements Plugin
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: B
          # People Plugin
          plugin_people: yes
          plugin_people_limit: 28
          plugin_people_shuffle: yes
          plugin_people_size: 28
          plugin_people_types: followers, following
          # Isometric Calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          # Wakatime Plugin
          plugin_wakatime: yes
          plugin_wakatime_days: 7
          plugin_wakatime_languages_other: yes
          plugin_wakatime_limit: 5
          plugin_wakatime_repositories_visibility: all
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: current
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
